root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[**/Persistence/Migrations/*.cs]
generated_code = true
dotnet_diagnostic.CA1861.severity = none

[*.{ts,html,scss,json,md,yml,yaml}]
indent_style = space
indent_size = 2
